.wx-baseline.wx-GKbcLEGA {
  position: absolute;
  background-color: #a883e4;
  border-radius: var(--wx-gantt-baseline-border-radius);
  z-index: 1;
}
.wx-baseline.wx-milestone.wx-GKbcLEGA {
  transform: rotate(45deg) scale(0.75);
  border-radius: var(--wx-gantt-milestone-border-radius);
}
.wx-bars.wx-GKbcLEGA {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.wx-bar.wx-GKbcLEGA {
  box-sizing: border-box;
  position: absolute;
  border-radius: var(--wx-gantt-bar-border-radius);
  font: var(--wx-gantt-bar-font);
  white-space: nowrap;
  line-height: inherit;
  text-align: center;
  cursor: pointer;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.wx-bar.wx-touch.wx-GKbcLEGA {
  opacity: 0.5;
}

.wx-bar.wx-reorder-task.wx-GKbcLEGA {
  z-index: 3;
}
.wx-content.wx-GKbcLEGA {
  overflow: hidden;
  text-overflow: ellipsis;
}
.wx-task.wx-GKbcLEGA {
  color: var(--wx-gantt-task-font-color);
  background-color: var(--wx-gantt-task-color);
  border: var(--wx-gantt-task-border);
}

.wx-task.wx-selected.wx-GKbcLEGA {
  border: 1px solid var(--wx-gantt-task-border-color);
  box-shadow: var(--wx-gantt-bar-shadow);
}

.wx-task:hover.wx-GKbcLEGA {
  box-shadow: var(--wx-gantt-bar-shadow);
}

.wx-summary.wx-GKbcLEGA {
  color: var(--wx-gantt-summary-font-color);
  background-color: var(--wx-gantt-summary-color);
  border: var(--wx-gantt-summary-border);
}

.wx-summary.wx-selected.wx-GKbcLEGA {
  border: 1px solid var(--wx-gantt-summary-border-color);
  box-shadow: var(--wx-gantt-bar-shadow);
}

.wx-summary:hover.wx-GKbcLEGA {
  box-shadow: var(--wx-gantt-bar-shadow);
}

.wx-milestone .wx-content.wx-GKbcLEGA {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.wx-bar:not(.wx-milestone) .wx-content.wx-GKbcLEGA {
  position: relative;
  z-index: 2;
}

.wx-bar.wx-GKbcLEGA .wx-text-out {
  position: absolute;
  line-height: normal;
  display: block;
  color: var(--wx-color-font);
  pointer-events: none;
}

.wx-milestone.wx-GKbcLEGA {
  border-color: var(--wx-gantt-milestone-color);
}

.wx-milestone .wx-text-out.wx-GKbcLEGA {
  padding: 0 2px;
  left: 100%;
}

.wx-milestone .wx-content.wx-GKbcLEGA {
  height: 100%;
  background-color: var(--wx-gantt-milestone-color);
  transform: rotate(45deg) scale(0.75);
  border-radius: var(--wx-gantt-milestone-border-radius);
}

.wx-progress-wrapper.wx-GKbcLEGA {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: var(--wx-gantt-bar-border-radius);
  overflow: hidden;
}

.wx-progress-percent.wx-GKbcLEGA {
  height: 100%;
}

.wx-progress-marker.wx-GKbcLEGA {
  opacity: 0;
  position: absolute;
  top: 80%;
  width: var(--wx-icon-size);
  height: var(--wx-gantt-progress-marker-height);
  background: var(--wx-gantt-progress-border-color);
  clip-path: polygon(50% 0, 100% 30%, 100% 100%, 0 100%, 0 30%);
  color: var(--wx-color-font);
  z-index: 3;
  font-size: calc(var(--wx-font-size-sm) - 2px);
  border-radius: 4px;
  cursor: ew-resize;
  text-align: center;
  line-height: 3;
}
.wx-progress-marker.wx-GKbcLEGA::before {
  content: '';
  display: block;
  position: absolute;
  width: calc(var(--wx-icon-size) - 2px);
  height: calc(var(--wx-gantt-progress-marker-height) - 2px);
  clip-path: polygon(50% 0, 100% 30%, 100% 100%, 0 100%, 0 30%);
  top: 1px;
  left: 1px;
  background: var(--wx-gantt-link-marker-background);
  z-index: -1;
  border-radius: 4px;
}
.wx-bar:hover .wx-progress-marker.wx-GKbcLEGA,
.wx-progress-marker.wx-progress-in-drag.wx-GKbcLEGA {
  opacity: 1;
}

.wx-task .wx-progress-percent.wx-GKbcLEGA {
  background-color: var(--wx-gantt-task-fill-color);
}

.wx-summary .wx-progress-percent.wx-GKbcLEGA {
  background-color: var(--wx-gantt-summary-fill-color);
}

.wx-link.wx-GKbcLEGA {
  position: absolute;
  z-index: 4;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid var(--wx-gantt-link-marker-color);
  background-color: var(--wx-gantt-link-marker-background);
  opacity: 0;
  cursor: default;
}

.wx-link .wx-inner.wx-GKbcLEGA {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 4px solid var(--wx-gantt-link-marker-color);
  pointer-events: none;
}

.wx-link.wx-left.wx-GKbcLEGA {
  left: -16px;
}

.wx-link.wx-right.wx-GKbcLEGA {
  right: -16px;
}

.wx-link.wx-target:hover.wx-GKbcLEGA,
.wx-link.wx-selected.wx-GKbcLEGA,
.wx-bar:hover .wx-link.wx-target.wx-GKbcLEGA,
.wx-link.wx-visible.wx-target.wx-GKbcLEGA {
  opacity: 1;
  cursor: pointer;
}

.wx-link.wx-selected.wx-GKbcLEGA {
  border-color: inherit;
}

.wx-link.wx-selected .wx-inner.wx-GKbcLEGA {
  border-color: inherit;
}

.wx-milestone .wx-link.wx-left.wx-GKbcLEGA {
  left: -16px;
}
.wx-milestone .wx-link.wx-right.wx-GKbcLEGA {
  right: -16px;
}

.wx-cut.wx-GKbcLEGA {
  opacity: 50%;
}
.wx-bar:not(.wx-milestone):focus.wx-GKbcLEGA {
  outline: 1px solid var(--wx-color-primary);
  outline-offset: 1px;
}
.wx-milestone:focus.wx-GKbcLEGA {
  outline: none;
}
.wx-milestone:focus .wx-content.wx-GKbcLEGA {
  outline: 1px solid var(--wx-color-primary);
  outline-offset: 1.6px;
}
